pytest
jupyter
dataclasses
typing
numba
sphinx
sphinx_rtd_theme
rinohtype
pdoc3
tqdm
fastapi[all]
pydantic
uvicorn[standard]
requests
aiohttp[speedups]
pymongo
motor
confluent-kafka
aiokafka
pika
aio-pika
janus
pandas
scikit-learn
numpy
scipy
statsmodels
filterpy
